#admin, body {
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
}

.admin-breadcrumb {
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
    background: #fff;
}