#admin, body {
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
}

.admin-breadcrumb {
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
    background: #fff;
}

#admin-login {
    width: 350px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -195px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

#admin-login h2 {
    text-align: center;
    padding-bottom: 25px;
}